<div class="contents row" >
  <div class="content_post" style="background-image: url(<%= @tweet_image %>);">
    <%= simple_format(@tweet_text) %>
    <span class="name"><%= @tweet_name %></span>
  </div>
</div>
