<div class="contents row" >
  <div class="content_post" style="background-image: url(http://likeshare-world.com/wp-content/uploads/10341432_1581526012080529_1415860168988097714_n.jpg);">
    <%= simple_format('オーロラきれい') %>
    <span class="name">せお きょうへい</span>
  </div>
</div>
