<div class="user-page">
  <div class="info">
    <div class="info--left">
      <img src="<%= @user_image %>" alt="画像が読み込めません。">
    </div>
    <div class="info--right">
      <div class="column">
        <span class="heading">名前</span>
        <h4 class="name">
          <%= @user_name %>
        </h4>
      </div>
      <div class="column">
        <span class="heading">自己紹介</span>
        <p class="profile">
          <%= @user_profile %>
        </p>
      </div>
    </div>
  </div>
</div>
