<div class="user-page">
  <div class="info">
    <div class="info--left">
      <img src="https://avatars0.githubusercontent.com/u/7753180?v=3&s=460" alt="画像が読み込めません。">
    </div>
    <div class="info--right">
      <div class="column">
        <span class="heading">名前</span>
        <h4 class="name">
          せお きょうへい
        </h4>
      </div>
      <div class="column">
        <span class="heading">自己紹介</span>
        <p class="profile">
          はじめまして。かゆいところに手をとどけます
        </p>
      </div>
    </div>
  </div>
</div>
