.user-page {
  margin: 0 auto;
  padding-top: 50px;
  width: 660px;
  .info {
    display: flex;
    &--left {
      img {
        height: 170px;
        width: 170px;
      }
    }
    &--right {
      padding: 0 20px;
    }
  }
}

.heading {
  font-size: 27px;
}

.name {
  font-size: 24px;
}

.profile {
  font-size: 22px;
}

.column {
  margin-bottom: 20px;
}

p {
  margin: 0;
}
